.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 30;
}

@supports not (backdrop-filter: none) {
  .header {
    backdrop-filter: none;
    background-color: antiquewhite;
    opacity: 0.9;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  backdrop-filter: blur(8px);
  background-color: #fff;
  height: 64px;
  /* max-width: 72rem; */
}

.skipNav {
  position: absolute;
  padding: 0.5rem 1rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transform: translateY(-3rem);
  left: 25%;
  top: -2rem;
}

.skipNav:focus {
  top: 1rem;
  transform: translateY(-0.75rem);
}

.links,
.account {
  display: flex;
  align-items: center;
}

.link {
  padding: 0.5rem;
  color: rgba(17, 24, 39, 1);
}

.divider,
.username {
  margin-right: 0.5rem;
}

.main {
  background-color: #f2f5fa;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100vh);
  min-height: calc(100vh - 80px);
  padding-top: 4rem;
}

.heading {
  margin: 0;
}

.cta {
  background-color: #f2f5fa;
  position: relative;
  padding: 3.75rem 2rem 0;
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.btn {
  color: #2196f3;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: color 300ms ease-in-out;
}

.btn:hover {
  color: rgba(59, 130, 246, 1);
}

.span {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f2f5fa;
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

.columns {
  display: flex;
  user-select: none;
  overflow: auto hidden;
  width: 100%;
  max-height: 100%;
  /* scroll-snap-type: x mandatory;
  scroll-padding: 0px 32px; */
}

.flex {
  display: flex;
  padding: 22px 32px 0;
}

@media (min-width: 640px) {
  .link {
    padding: 1rem;
  }
  .nav {
    height: 80px;
  }
  .divider,
  .username {
    margin-right: 1rem;
  }
}

@media (max-width: 1023px) {
  .columns {
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 32px;
  }
}
