::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

html {
  min-width: 22.5rem;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
  color: #262b33;
  --scrollbarBG: #e6ebf4;
  --thumbBG: #90a4ae;
}

/* custom scrollbar */
.column,
.modal-content {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.column::-webkit-scrollbar {
  width: 4px;
}
.modal-content::-webkit-scrollbar {
  width: 9px;
}
.modal-content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.column::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 8px;
  border: 3px solid var(--scrollbarBG);
  /* border: 2px solid #fff; */
}

.column {
  scroll-snap-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.column:last-of-type {
  margin-right: 0;
}

.active {
  color: #98a1b3 !important;
}
