.tag {
  padding: 3px 8px;
  background-color: #f2f5fa;
  color: #98a1b3;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  border-radius: 10px;
  margin-right: 6px;
  transition: background-color, color 1s ease-out;
}

.tagColor {
  background-color: #fff;
}

.tag:hover {
  background-color: #e6ebf4;
  color: #7a8599;
}

.space {
  margin-right: 0.5rem;
}

.title {
  margin: 0;
  color: #6b7280;
  text-overflow: ellipsis;
}

.company {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  color: #262b33;
}
