.container {
  background-color: #f2f5fa;
  position: relative;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
  overflow-y: hidden;
}

/* text-3xl*/
.cta {
  margin-top: 1rem;
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 5rem; */
}

.btn {
  color: #2196f3;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: color 300ms ease-in-out;
}

.btn:hover {
  color: rgba(59, 130, 246, 1);
}

.span {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  /* margin-top: 5rem; */
  position: relative;
  min-width: max-content;
}
